.hero-section {
  clip-path: circle(0% at center);
  opacity: 1;
}

.hero-section[data-scroll-enter] {
  animation-name: heroClipPathAnimation;
  animation-duration: 'var(--default-duration)';
  animation-timing-function: 'var(--default-easing)';
  animation-delay: calc(var(--stagger-interval) * -1);
}

@keyframes heroClipPathAnimation {
  from { clip-path: circle(0% at center); }
  to { clip-path: circle(50% at center); }
}

.portfolio-item {
  opacity: 0;
}

.portfolio-item[data-scroll-enter] {
  animation-name: portfolioItemFadeInAnimation;
  animation-duration: 'var(--default-duration)';
  animation-timing-function: 'var(--default-easing)';
  animation-delay: calc(var(--stagger-interval) * -1);
}

@keyframes portfolioItemFadeInAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}