.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title,
.subtitle {
  font-family: 'var(--font-display-family)';
  text-align: center;
  opacity: 0;
  transform-origin: top;
}

.hero-title {
  max-width: clamp(var(--clamp-xl-min), calc(1.4375rem + 0.8vw), var(--clamp-xl-max));
  line-height: 'var(--line-height-xl)';
}

.subtitle {
  font-size: clamp(var(--clamp-md-min), calc(1.6875rem + 0.9vw), var(--clamp-md-max));
  line-height: 'var(--line-height-md)';
  transform: scale(0.8);
}
