.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: 'var(--surface-light)';
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: 'var(--on-surface-dark)';
  font-family: 'var(--font-text-family)';
  line-height: 'var(--line-height-lg)';
}

.hero-title {
  font-size: 'var(--clamp-xl-min)';
  margin-bottom: 'var(--lg)';
}

.hero-subtitle {
  font-size: 'var(--clamp-sm-min)';
  opacity: 0;
}