.hero-section {
  background-color: 'var(--surface-light)';
  color: 'var(--on-surface-dark)';
  padding: calc(var(--base-unit) * 2);
}

.hero-title {
  font-family: 'var(--font-display-family)';
  font-size: clamp(1.5rem, var(--clamp-md-min), 3rem);
  line-height: 'var(--line-height-lg)';
  margin-bottom: calc(var(--base-unit) * 2);
}

.hero-description {
  font-family: 'var(--font-text-family)';
  font-size: clamp(1rem, var(--clamp-sm-min), 1.5rem);
  line-height: 'var(--line-height-md)';
}

cta-section {
  background-color: 'var(--surface-dark)';
  color: 'var(--on-surface-light)';
  padding: calc(var(--base-unit) * 2);
  text-align: center;
}

.cta-button {
  font-family: 'var(--font-text-family)';
  font-size: clamp(1rem, var(--clamp-sm-min), 1.5rem);
  line-height: 'var(--line-height-md)';
  padding: calc(var(--base-unit) * 2);
}

.project-overview {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: 'var(--surface-light)';
  color: 'var(--on-surface-dark)';
  padding: calc(var(--base-unit) * 4);
}

.project-item {
  margin-right: calc(var(--gutter-width) / 2);
}

.stats-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: 'var(--surface-dark)';
  color: 'var(--on-surface-light)';
  padding: calc(var(--base-unit) * 4);
}