.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-title {
  font-size: 'var(--clamp-xl-min)';
  line-height: 'var(--line-height-xl)';
  color: 'var(--primary-light)';
  opacity: 0;
  transform: translateY(2rem);
}

.subtitle {
  font-size: 'var(--clamp-md-min)';
  line-height: 'var(--line-height-md)';
  color: 'var(--on-surface-dark)';
  scale: 0.8;
  transform-origin: center bottom;
}