.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 'var(--md)' 0;
}

.cta-text-container {
  text-align: center;
}

.cta-title {
  font-size: 'var(--clamp-md-min)';
  line-height: 'var(--line-height-md)';
  margin-bottom: 'var(--xs)';
}

.cta-description {
  font-size: 'var(--clamp-sm-min)';
  line-height: 'var(--line-height-sm)';
  color: 'var(--on-muted-light)';
}