.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 'var(--lg)';
  padding-bottom: 'var(--md)';
}

.footer-text {
  color: 'var(--on-surface-light)';
  font-size: 'var(--clamp-sm-min)';
  line-height: 'var(--line-height-sm)';
}