.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 'var(--md)' 0;
  background-color: 'var(--surface-light)';
}

.footer p {
  color: 'var(--on-surface-dark)';
  font-family: 'var(--font-text-family)';
  font-size: 'var(--clamp-sm-min)';
  line-height: 'var(--line-height-sm)';
}