.hero-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: 'var(--surface-dark)';
}

.hero-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: 'var(--on-surface-light)';
}

.hero-title {
  font-family: 'var(--font-display-family)';
  font-size: clamp(var(--clamp-md-min), var(--clamp-md-max));
  line-height: 'var(--line-height-lg)';
  margin-bottom: 'var(--lg)';
}

.hero-subtitle {
  font-family: 'var(--font-text-family)';
  font-size: clamp(var(--clamp-sm-min), var(--clamp-sm-max));
  line-height: 'var(--line-height-md)';
  opacity: 0;
}

.hero-button-container {
  display: flex;
  gap: 'var(--md)';
}