.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-title {
  font-size: 'var(--clamp-md)';
  line-height: 'var(--line-height-md)';
  color: 'var(--primary-light)';
  opacity: 0;
  transform-origin: top;
}

.hero-subtitle {
  font-size: 'var(--clamp-sm)';
  line-height: 'var(--line-height-sm)';
  color: 'var(--on-surface-light)';
  scale: 0.8;
  transform-origin: bottom;
}
