.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 'var(--base-unit)' * 2;
}

.navbar-brand {
  font-size: 'var(--clamp-sm-min)';
  color: 'var(--primary-light)';
}

.nav-menu {
  display: flex;
  gap: 'var(--xs)';
}

.nav-link {
  text-decoration: none;
  color: 'var(--on-surface-dark)';
  font-size: 'var(--clamp-xs-min)';
  transition: opacity var(--default-duration) var(--default-easing), transform var(--default-duration) var(--default-easing);
}

.nav-link:hover,
.nav-link:focus {
  opacity: 0.8;
}
