.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 'var(--md)' var(--lg);
  background-color: 'var(--surface-dark)';
}

.navbar-brand {
  font-size: clamp(var(--clamp-md-min), calc(var(--clamp-md-max) + (var(--vw, 0px) * 1.2)), var(--clamp-md));
  line-height: 'var(--line-height-md)';
  color: 'var(--on-surface-dark)';
}

.navbar-links {
  display: flex;
  gap: 'var(--md)';
}

.nav-link {
  font-size: clamp(var(--clamp-sm-min), calc(var(--clamp-sm-max) + (var(--vw, 0px) * 1.2)), var(--clamp-sm));
  line-height: 'var(--line-height-sm)';
  color: 'var(--on-surface-dark)';
}

.nav-link:hover {
  text-decoration: underline;
}