.portfolio-items {
  display: grid;
  grid-template-columns: repeat(3, minmax(var(--base-unit), 1fr));
  gap: 'var(--gutter-width)';
}

.portfolio-item {
  position: relative;
  overflow: hidden;
}

.portfolio-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}